<h2><a id="type"></a> Type and spacing</h2>

<div ng-controller="typeThemeSwitcher">

	<nav class="btn-group">
		<a href="#" 
			ng-repeat="style in dressStyles"
			class="btn btn-default"
			ng-class="{'active': style.isSelected}"
			id="[[style.id]]"
			ng-click="switchTo($index)">[[style.name]]</a>
	</nav>

	<div class="[[currentSelection.id]]">

		<div class="type-examples headings">
			<h1 class="banner">Banner headline</h1>
			<h1>Standard Headline</h1>
			<h2>Inner headline</h2>
			<h3>Sub headline</h3>
			<h4>Note headline</h4>
			<h5>Tiny headline</h5>
		</div>

	</div>
</div>