<h2><a id="type"></a> Type and whitespace</h2>

<div ng-controller="typeThemeSwitcher">

	<p>We are currently using the following typefaces:</p>

	<ul class="font-samples">
		<li class="proxima">
			Proxima Nova
			<p>Used for smaller headlines and body text. Smart and functional.</p>
		</li>
		<li class="proxima-light">
			<em>Proxima Nova light</em>
			<p>Used for headlines and larger text. Elegant and lovely.</p>
		</li>
		<li class="ff-tisa">
			<em>FF Tisa Pro</em>
			<p>Used to show the voice of the people. For quotes, notes, and descriptive elements written by our users and well wishers.</p>
		</li>
		<li class="montserrat">
			<em>Montserrat</em>
			<p>Used for buttons and interactive controls. It's a bold, imperative to do something now. Especially powerful when combined with ALL-CAPS.</p>
		</li>

	</ul>

	<h3>Examples</h3>
	<nav class="btn-group">
		<a 
			ng-repeat="style in dressStyles"
			class="btn btn-default"
			ng-class="{'active': style.isSelected}"
			id="[[style.id]]"
			ng-click="switchTo($index)">[[style.name]]</a>
	</nav>

	<div class="examples [[currentSelection.id]]">

		<div class="type-examples headings">
			<h1 class="banner">Banner headline</h1>
			<h1>Standard Headline</h1>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dapibus justo. Proin non dui consequat, sodales velit et, placerat ex. Aliquam maximus interdum suscipit. Suspendisse lacinia ut eros quis elementum.
			</p>			
			<h2>Inner headline</h2>
			<p>
			 Duis elementum velit eget diam iaculis, quis sodales erat eleifend. Pellentesque eu tellus sit amet quam rutrum rutrum nec non magna. Aliquam vel justo vulputate, fermentum enim tempus, lobortis eros. Morbi fermentum lorem sodales sem pharetra tincidunt. Phasellus ultrices leo quis turpis dictum elementum. Duis in efficitur mi, et molestie orci. Quisque sodales ut urna a fermentum. Donec vehicula, tortor non feugiat luctus, arcu felis iaculis elit, et tempus orci dui nec tortor. Pellentesque sodales consequat arcu, non suscipit erat dictum eget. Cras dignissim lobortis dignissim. Donec volutpat eros non ante facilisis pellentesque. Curabitur at nisl ut ligula pulvinar maximus.
			</p>
			<blockquote><p>
			Aenean quis arcu vestibulum, interdum lectus ut, malesuada erat. Fusce mi arcu, sodales quis luctus eu, mattis a lacus. Vestibulum laoreet euismod feugiat. Suspendisse pharetra lobortis mollis. Sed vehicula ligula sit amet velit cursus feugiat. Vivamus tellus lectus, euismod id nibh eu, egestas suscipit mauris. Phasellus at bibendum metus. Sed in purus ipsum. Vestibulum dictum magna diam, non tincidunt eros mollis egestas. Cras rutrum mollis vestibulum.
			</p></blockquote>			
			<h3>Sub headline</h3>

			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Aliquam id enim quis ante ullamcorper consequat.</li>
				<li>Donec eu quam consequat, laoreet ex quis, euismod tortor.</li>
			</ul>

			<h4>Note headline</h4>
			<h5>Tiny headline</h5>


			<ol>
				<li>Vestibulum imperdiet massa vitae elementum tempor.</li>
				<li>Cras mattis libero nec consectetur maximus.</li>
				<li>Morbi eu justo varius, tempor magna id, consequat orci.</li>
				<li>Maecenas sagittis nisi volutpat sagittis consectetur.</li>
				<li>Proin bibendum dui quis tortor pellentesque bibendum.</li>
			</ol>			
		</div>

	</div>

</div>