<footer class="community">

  <div class="wrapper">

      <ul>
          <li>
            <p>{{ site.taglne }}</p>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li>&nbsp;</li>
          <li class="description">
              <p class="text">{{ site.description }}</p>
              <p class="text">Looking to build a beautiful, flexible online store? Try <a href="http://lemonstand.com">LemonStand</a> for free.</p>
          </li>
      </ul>

    </div>

</footer>
