<footer class="lemonstand">

  <div class="wrapper">



    <ul>
        <li>
            <nav>
                <a class="site-title" href="{{ site.baseurl }}/">
                    <img src="/assets/ls-logo-v2-dark.png" alt="{{ site.title }}"/>
                </a>
                <a href="http://lemonstand.com/about/company">Company</a>
                <a href="http://lemonstand.com/about/media">Media</a>
                <a href="http://lemonstand.com/about/jobs">Jobs</a>
                <a href="http://lemonstand.com/blog">Blog</a>
                <a href="http://lemonstand.com/contact">Contact Us!</a>
            </nav>
        </li>
        <li class="learn-more">
            <nav>
                <h2>Learn More</h2>
                <a href="http://lemonstand.com/">Take a tour</a>
                <a href="http://lemonstand.com/">Pricing and Plans</a>
                <a href="http://lemonstand.com/">Customers</a>
                <a href="http://lemonstand.com/">New Features</a>
                <a href="http://lemonstand.com/">Our Roadmap</a>
                <a href="http://lemonstand.com/">Training Videos</a>
            </nav>
        </li>
        <li class="features">
            <nav>
                <h2>Features</h2>

                <a href="http://lemonstand.com/">Stores that Stand Out</a>
                <a href="http://lemonstand.com/">Sell More with Custom Chekouts</a>
                <a href="http://lemonstand.com/">Run More Efficiently</a>
                <a href="http://lemonstand.com/">Reach More Customers</a>
                <a href="http://lemonstand.com/">Automate your Workflow</a>
                <a href="http://lemonstand.com/">Integrate with Lemonstand</a>
                <a href="http://lemonstand.com/">Hosted in the Cloud Securely</a>
                <a href="http://lemonstand.com/">Amazing Theme Engine</a>
            </nav>
        </li>
        <li class="support">
            <nav>
                <h2>Support</h2>

                <a href="http://lemonstand.com/">Documentation</a>
                <a href="http://lemonstand.com/">Ask a question</a>
                <a href="http://lemonstand.com/">Schedule a Demo</a>
                <a href="http://lemonstand.com/">Terms of Service</a>
                <a href="http://lemonstand.com/">Security</a>
                <a href="http://lemonstand.com/">Privacy</a>
                <a href="http://lemonstand.com/" class="btn btn-outline">Log in</a>
            </nav>
        </li>
    </ul>

    <p>Made with 🍋 in Vancouver</p>

  </div>

</footer>
