<footer class="lemonstand">

  <div class="wrapper">



    <ul>
        <li>
            <nav>
                <a class="site-title" href="{{ site.baseurl }}/">
                    <img src="/assets/ls-logo-v2-dark.png" alt="{{ site.title }}"/>
                </a>
                <a href="http://lemonstand.com/about/company">Company</a>
                <a href="http://lemonstand.com/about/media">Media</a>
                <a href="http://lemonstand.com/about/jobs">Jobs</a>
                <a href="http://lemonstand.com/blog">Blog</a>
                <a href="http://lemonstand.com/contact">Contact Us!</a>

        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
  </div>

</footer>
