header.site-header {
    padding-top: .25em;
	a.site-title {
		text-decoration: none;

		img {
			width: auto;
		}

        span {
            color: $lemonYellow;
            font-size: 9.5pt;
            font-weight: 500;
            letter-spacing: 2px;
        }
	}

	nav.menu {
		float: right;

		font-weight: 300;
		text-transform: uppercase;
		padding: 1.15em 0;


		> a {
			padding: 0 .5em;

            font-family: "Museo Rounded", sans-serif;
            font-weight: normal;
            font-size: 10.5pt;

            &:hover {
                text-decoration: none;
                color: $lemonBlueDark;
            }
		}
	}
}

footer {
	ul {
		li {
			list-style-type: none;
		}
	}

	p {
		font-weight: 300;
		font-size: .9em;
	}
}


.btn {
}

.btn-outline {

}
