/* TODO 

	- move colours to separate sheet (auto-gen)
*/

$lemonBlue: #1485ca;

$textDark: #343433;

$okBlue: #0073b4;
$okBlueAlt: #0087c8;

$bgMid: #DCDCDC;

$textNormal: #323232;


h1, h2, h3, h4, h5 {
	font-family: "proxima-nova";
	line-height: 100%;
	font-weight: light;
	margin: 1.5em 0 .25em;
	color: $textNormal;
}
h3, h5 {
	text-transform: uppercase;
}
h4, h5 {
	font-weight: bold;
}
h1.banner {
	font-size: 3em;
	margin-top: 0;
}
h2.banner {
	font-size: 2em;
	margin-top: 0;
}

p, li, code, pre {
	color: $textNormal;
	font-size: 1em;
	font-weight: normal;
}
p {
	margin: .5em 0;
}

ul, ol {
	margin-top: 1em;
	margin-bottom: 1em;
}
ul {
	li {
		list-style-type: square;
	}
}

blockquote {
	margin: 2em 2em 2em 1em;
	border: 0;

	p {
		font-family: 'ff-tisa-web-pro', Georgia;
		font-size: 1.1em;
		color: #646464;
	}
}

.ls-formal {
	
	h1.banner {
		font-size: 5em;
	}
	h2.banner {
		font-size: 3em;
	}
}

a.btn {
	font-family: Montserrat, "Helvetica Neu", Helvetica;
	text-transform: uppercase;
	transition: background-color  .25s ease-in-out;
	font-size: .8em;
	color: inherit;
}

header {
	a.site-title {
		text-decoration: none;

		img {
			width: 238px;
		}
	}
}

.page-content {

	nav {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 0 0 1em 0;

		li {
			list-style-type: none;
			display: inline;
			margin: .25em 1em;

			&.current {
				border-bottom: 4px solid $lemonBlue;
			}

			a {
				text-transform: uppercase !important;
				font-size: 10pt;
			}
		}
	}
}

a {
	color: $lemonBlue !important;
	font-weight: bold;
}


nav.menu {
	clear: both;

	a {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 10.5pt;
		margin-right: 1em;
	}
}

nav.menu {
	ul {
		margin: 0 0 0 0; padding: 0;

		li {
			list-style-type: none;
			margin: .5em; padding: .5em;
		}
	}
	ul.main-menu {
		li {
			float: left;

			ul.sub-menu {

				li {

				}
			}

		}
	}
}

$previewSize: 150px;

div.guide-category {
	clear: both;
	padding-bottom: 2em;

	> h3 {
		font-weight: bold;
	}

	ul.palette {
		position: relative;
		padding-left: 0; margin-left: 0;
		clear: both;
		overflow: hidden;

		li {
			position: relative;
			height: $previewSize + 50px;
			width: 20%;
			list-style-type: none;
			padding-left: 0; margin-left: 0;

			float: left;

			span.preview {
				position: absolute; left: 0; top: 0;
				display: block;
				width: $previewSize; height: $previewSize;
				text-align: center;
				line-height: $previewSize * 1.75;
				color: #fff;
				font-family: 'Andale Mono', monospace;
				font-size: 12px;
				overflow: hidden;

				> span {
					position: absolute; right: -50%; top: -60%;
					display: block;
					text-align: center;
					width: $previewSize; height: $previewSize;
					-webkit-transform: rotate(45deg);
				    -moz-transform: rotate(45deg);
				    -o-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
					 transform: rotate(45deg);
				}
			}

			h4 {
				width: 100%;
				font-family: Montserrat;
				padding-top: $previewSize + 10px;
				font-size: 10pt;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}


div.guidelines {

	> div {
		clear: both;
		padding: 3em 0;
		overflow: hidden;
		
		> h2 {
			margin-bottom: 1em;
			text-align: center;
		}
		
	}


	div.examples {
		div.type-examples {
			border: 1px solid #ddd;
			padding: .5em 1em;
			margin: 1em 0;
			overflow: hidden;
			border-radius: .5em;
		}	
	}


	ul.dress-overview {
		position: relative; left: -1%;
		width: 102%; 
		margin: 0; padding: 2em 0 0;
		overflow: visible;


		> li {
			list-style-type: none;
			margin: 5% 1%; padding: 1%;
			float: left;
			width: 47%;
			display: inline-block;
			text-align: center;

			p {
				text-align: left;
			}
			
		}

	}
}

