/* TODO

	- move colours to separate sheet (auto-gen)
*/

$lemonBlue: #1485ca;

$textDark: #343433;

$okBlue: #0073b4;
$okBlueAlt: #0087c8;

$bgMid: #DCDCDC;

$textNormal: #323232;

.proxima {
	font-family: "proxima-nova";
}
.proxima-light {
	font-family: "proxima-nova";
	font-weight: 100;
}
.ff-tisa {
	font-family: 'ff-tisa-web-pro', Georgia;
}
.montserrat {
	font-family: Montserrat, "Helvetica Neu", Helvetica;
}

h1, h2, h3, h4, h5 {
	font-family: "proxima-nova", "Helvetica Neu", Helvetica;
	line-height: 100%;
	font-weight: light;
	margin: 1.5em 0 .25em;
	color: $textNormal;
}
h3, h5 {
	text-transform: uppercase;
}
h4, h5 {
	font-weight: bold;
}
h1.banner {
	font-size: 3em;
	margin-top: 0;
}
h2.banner {
	font-size: 2em;
	margin-top: 0;
}

p, li, code, pre {
	color: $textNormal;
	font-size: 1.15em;
	font-weight: normal;

}
p, li {
	font-weight: normal;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica;
}
p {
	margin: .5em 0;
	line-height: 165%;
}

ul, ol {
	margin-top: 1em;
	margin-bottom: 1em;
	li {
		font-size: .9em;
	}
}
ul {
	li {
		list-style-type: square;
	}
}

blockquote {
	margin: 2em 2em 2em 1em;
	border: 0;

	p {
		font-family: 'ff-tisa-web-pro', Georgia;
		font-size: 1.1em;
		color: #646464;
		line-height: 175%;
	}
}

.ls-formal {

	h1.banner {
		font-size: 5em;
	}
	h1, h2.banner {
		font-size: 3em;
	}
	p, li {
		font-size: 1.25em;
		font-weight: 300;
	}
}
.ls-industrial {

	h1.banner {
		font-weight: bold;
	}
	h1, h2.banner {
		font-weight: bold;
	}
	p, li {
	}
}
.ls-hipster {


}

.ls-party {

	h1.banner, h2.banner,
	h1, h2, h3 {
		font-family: Montserrat, "Helvetica Neu", Helvetica;
	}
	p, li {
		font-size: 1.1em;
		font-weight: 300;
	}
}

a.btn {
	font-family: Montserrat, "Helvetica Neu", Helvetica;
	text-transform: uppercase;
	transition: background-color  .25s ease-in-out;
	font-size: .8em;
	color: inherit;
}

header.site-header {
	a.site-title {
		text-decoration: none;

		img {
			width: 238px;
		}
	}

	nav.menu {
		float: right;

		font-weight: 300;
		font-size: .9em;
		text-transform: uppercase;
		padding: 1.5em 0;

		> a {
			padding: 0 1em;
		}
	}
}

footer {
	ul {
		li {
			list-style-type: none;
		}
	}

	p {
		font-weight: 300;
		font-size: .9em;
	}
}


a {
	color: $lemonBlue !important;
	font-weight: bold;
}

.page-menu {
	text-align: center;
	nav {
		a.btn.btn-default {
			color: $textNormal !important;
		}
	}
}

$previewSize: 150px;

div.guide-category {
	clear: both;
	padding-bottom: 2em;

	> h3 {
		font-weight: bold;
	}

	ul.palette {
		position: relative;
		padding-left: 0; margin-left: 0;
		clear: both;
		overflow: hidden;

		li {
			position: relative;
			height: $previewSize + 50px;
			width: 20%;
			list-style-type: none;
			padding-left: 0; margin-left: 0;

			float: left;

			span.preview {
				position: absolute; left: 0; top: 0;
				display: block;
				width: $previewSize; height: $previewSize;
				text-align: center;
				line-height: $previewSize * 1.75;
				color: #fff;
				font-family: 'Andale Mono', monospace;
				font-size: 12px;
				overflow: hidden;

				> span {
					position: absolute; right: -50%; top: -60%;
					display: block;
					text-align: center;
					width: $previewSize; height: $previewSize;
					-webkit-transform: rotate(45deg);
				    -moz-transform: rotate(45deg);
				    -o-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
					 transform: rotate(45deg);
				}
			}

			h4 {
				width: 100%;
				font-family: Montserrat;
				padding-top: $previewSize + 10px;
				font-size: 10pt;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}

$projectBorder: rgba(255,255,255,.95);

div.themes-gallery {
	h2 {
		text-align: center;
	}
	ul.gallery {
		position: relative;
		clear: both; overflow: hidden;
		margin: 2em 0 0 0; padding: 0;
		left: -5.5%;
		width: 111%;

		li {
			position: relative;
			width: 32%;
			height: 12em;

			float: left;
			padding: 0; margin: .5%;
			list-style-type: none;
			border-radius: .35em;
			background-color: #006fb9;

			&.omni {
				background-color: #55a537;
			}
			&.aws {
				background-color: #ebb42d;
			}
			&.theme {
				background-color: #0087c8;
			}
			&.slackbot {
				background-color: #e01e67;
			}

			> div {
				padding: 7px 10px;


				h4 {
					margin: 0 0 .5em 0; padding: 0;

					a {
						color: #fff !important;
						font-size: 12pt;
					}

				}
				> h5 {
					margin: .5em 0 0; padding: 0;
					color: #fff !important;
					font-weight: 100;
					line-height: 110%;
					text-transform: none;
				}

				> nav {
					position: absolute;
					bottom: 0; left: 0;
					width: 100%;
					display: inline-block;
					border-top: 1px solid $projectBorder;

					> * {
						display: inline-block;
						line-height: 20px;
						width: 15%;
						padding-top: 2px;
						text-align: center;
						vertical-align: middle;


						+ * {
							border-left: 1px solid $projectBorder;
						}

						padding: 5px 7px;
						text-align: center;
						color: #fff !important;

						a, a > i {
							color: #fff !important;

						}
					}
					i {
						position: relative; top: 1px;
						font-size: 16px;

					}
					a {

						&:hover {
							i {

							}
						}
					}
					var {
						position: relative;
						font-style: normal;
						width: 21%;
						cursor: default;

						> strong {
							font-size: .75em;
							padding-top: .1em;
							padding-left: .15em;
							font-weight: normal;
						}

						&.lang {
							width: 100%;
							display: block;
							border-top: 1px solid $projectBorder;
							text-transform: uppercase;
							border-left: 0;
							letter-spacing: 1px;

							strong {
								font-size: .85em;
							}
						}

					}
				}
			}

		}
	}
}

@include media-query($on-laptop) {
	div.themes-gallery {
		ul.gallery {
			margin-left: 5%;
			li {
				width: 44%;
			}
		}
	}
}

@include media-query($on-palm) {
	div.themes-gallery {
		ul.gallery {
			width: 100%;
			margin-left: 5%; margin-right: 5%;

			li {
				width: 99.5%;
			}
		}
	}
}


div.guidelines {

	> div {
		clear: both;
		padding: 3em 0;
		overflow: hidden;

		> h2 {
			margin-bottom: 1em;
			text-align: center;
		}

	}

	ul.font-samples {
		margin: 2em 0; padding: 0;

		border-bottom: 1px solid #C8C8C8;

		li {
			font-size: 1.1em;
			list-style-type: none;
			border-top: 1px solid #C8C8C8;
			padding-top: .25em;

			em {
				font-weight: 100;
				font-style: normal;
			}
			p {
				font-size: .85em;
				margin-top: 0;
				line-height: 130%;
			}


		}
	}

	div.examples {
		div.type-examples {
			border: 1px solid #ddd;
			padding: .5em 1em;
			margin: 1em 0;
			overflow: hidden;
			border-radius: .5em;
		}
	}


	ul.panels-2 {
		position: relative; left: -1%;
		width: 102%;
		margin: 0; padding: 2em 0 0;
		overflow: visible;

		> li {
			list-style-type: none;
			margin: 5% 1%; padding: 1%;
			float: left;
			width: 47%;
			display: inline-block;
			text-align: center;

			p {
				text-align: left;
				line-height: 130%;
				font-weight: 300;
			}

		}

	}
	ul.icons-examples {
		li {
			img {
				margin: .5em;
			}
			p {
				text-align: center;
				margin-bottom: 2em;
			}
		}
	}

	ul.ui {
		li { list-style-type: none;
			 color: #323232;

			&.headings {
				font-family: Montserrat, "Helvetica Neu", Helvetica;
				font-size: 24px;
				font-weight: 300;
			}
			&.text {
				font-family: Montserrat, "Helvetica Neu", Helvetica;
				font-size: 12px;
			}
			&.numbers {
				font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
				font-size: 12px;
			}
		}
	}

	.table td {
		padding: 8px;
		line-height: 18px;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid #f0f0f0;
	}

	a {
		&.btn-action, .btn-save, .btn-delete {
			text-transform: uppercase;
			text-align: center;
			box-shadow: none;
			text-shadow: none;
			width: auto;
			font-family: 'Montserrat', sans-serif !important;
			font-weight: bold;
			color: gray;
			background-image: linear-gradient(to bottom,#e8e8e8, #dbdbdb);
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		}
	}
}
