<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

  <div class="wrapper">
  <nav class="guidelines menu">
    <ul class="main-menu">
      <li><a href="#dress">Dress</a></li>
      <li><a href="#colours">Colours</a></li>
      <li><a href="#icography">Icons</a></li>
      <li><a href="#type">Type</a></li>
      <li><a href="#widgets">Widgets</a></li>
      <li><a href="#metaphors">Metaphors</a></li>
    </ul>
  </nav>
  </div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
